<section class="bg-gray-100 py-16 px-11">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <div class="md:w-1/2">
          <h1 class="text-6xl font-bold to-black mb-4">Take The Worry Out Of Life With <span class=" text-teal-600">Insurance</span> Protection</h1>
          <p class="text-lg text-gray-700 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras justo consectetur adipiscing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="flex justify-center space-x-4">
            <button class="bg-teal-600 text-white px-4 py-2 rounded-md hover:bg-teal-700">Get Started</button>
            <button class="text-teal-600 bg-white px-4 py-2 rounded-md border border-teal-600">Contact Us</button>

          </div>
        </div>
        <div class="md:w-1/2">
          <img src="assets/image1.png" alt="Image description "  class="max-w-s">
        </div>
      </div>
    </div>
  </section>