<section class="bg-gray-100 py-24">
    <div class="container mx-auto px-96">
      <div class="text-center">
        <h2 class="text-lg  text-center text-teal-600 mb-4">READY TO GET STARTED</h2>
        <h2 class="text-5xl font-bold black mb-4">Get The Latest Insurance News In Minutes</h2>
        <p class="text-lg text-gray-700 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus...
        </p>
  
        <div class="flex flex-col md:flex-row items-center justify-center">
          <input type="email" placeholder="Email address" class="border border-gray-300 rounded-md px-4 py-2 mb-4 md:mb-0 md:mr-4">
          <button class="bg-teal-600 text-white px-4 py-2 rounded-md hover:bg-teal-700">Subscribe</button>
        </div>
      </div>
    </div>
  </section>
