<header class="bg-gray-100 shadow-md">
    <div class="container mx-auto px-4 py-6">
      <div class="flex flex-col md:flex-row justify-between items-center md:space-x-14">
        <div class="flex items-center mb-4 md:mb-0 md:space-x-8">
          <h1 class="text-4xl font-bold text-teal-600 mr-4">Logo</h1>
          <input type="text" placeholder="Search here..." class="border border-gray-300 rounded-md px-4 py-2 md:w-64">
        </div>
        <nav class="flex flex-col md:flex-row space-x-4 md:space-x-14 md:space-y-0 md:flex-1">
          <a href="#" class="text-teal-600 hover:text-teal-800 block md:inline-block">Home</a>
          <a href="#" class="text-teal-600 hover:text-teal-800 block md:inline-block">Pages</a>
          <a href="#" class="text-teal-600 hover:text-teal-800 block md:inline-block">Insurances</a>
          <a href="#" class="text-teal-600 hover:text-teal-800 block md:inline-block">Blog</a>
          <a href="#" class="text-teal-600 hover:text-teal-800 block md:inline-block">Contact Us</a>
        </nav>
        <div class="hidden md:flex items-center mx-4">
          <svg class="w-6 h-6 text-gray-800 dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/>
          </svg>
          <span class="text-gray-800">( +1 ) 234-567-890</span>
      </div>
      
    
      <div class="flex items-center space-x-14">
          <button class="bg-teal-600 text-white px-4 py-2 rounded-md hover:bg-teal-700">
            Get A Quote
          </button>
        </div> 
      </div>
    </div>
  </header>




  